/* =====================
RESET
===================== */

* {

margin:0;
padding:0;
box-sizing:border-box;

}


body {

overflow:hidden;

background:black;

color:white;

font-family:"IM Fell English", serif;

}



#game {

width:100vw;

height:100vh;

}



/* =====================
SCENES
===================== */


.scene {

position:absolute;

inset:0;

display:none;

overflow:hidden;

opacity:0;

}



.scene.active {

display:block;

animation:sceneFade .8s forwards;

}



@keyframes sceneFade {

from {

opacity:0;

}


to {

opacity:1;

}

}




.background {

position:absolute;

inset:0;

width:100%;

height:100%;

object-fit:cover;

z-index:1;

}



/* =====================
QUEST PANEL
===================== */


#questPanel {

position:absolute;

top:25px;

left:25px;

width:280px;

max-height:70vh;

overflow-y:auto;

background:

linear-gradient(#d8b46a,#8b5a20);


border:5px solid #3b2108;

border-radius:15px;

padding:20px;

color:#201000;

z-index:100;


box-shadow:
0 10px 30px black;

}



#questPanel h2 {

font-family:"Pirata One";

font-size:35px;

text-align:center;

}



#questPanel h3 {

text-align:center;

font-size:20px;

}



#questPanel ul {

list-style:none;

font-size:20px;

line-height:1.8;

}




/* =====================
INVENTORY
===================== */


#inventoryButton {

position:absolute;

top:25px;

right:25px;

z-index:150;

}



#inventoryPanel {

position:absolute;

display:none;

top:90px;

right:25px;

width:280px;

max-height:60vh;

overflow:auto;

background:

linear-gradient(#d8b46a,#8b5a20);


border:

5px solid #3b2108;


border-radius:15px;


padding:20px;


color:#201000;


z-index:150;


box-shadow:

0 10px 30px black;

}



#inventoryPanel h2 {

font-family:"Pirata One";

font-size:32px;

text-align:center;

}



#inventoryList {

list-style:none;

font-size:20px;

line-height:1.8;

}






/* =====================
MESSAGE BOX
===================== */


#messageBox {


position:absolute;

display:none;


bottom:15%;

left:20%;

right:20%;


background:

rgba(0,0,0,.9);


border:

4px solid #d9b45b;


border-radius:20px;


padding:30px;


text-align:center;


z-index:200;


box-shadow:

0 0 35px black;


}



#messageText {


font-size:28px;


}



#closeMessage {


font-size:22px;

margin-top:15px;


}







/* =====================
INTRO BACKGROUND
===================== */


.sky,
.ocean {


position:absolute;


width:100%;


height:100%;


object-fit:cover;


}



.ocean {


animation:

oceanMove 8s infinite alternate;


}



@keyframes oceanMove {


from {

transform:translateX(0);

}


to {

transform:translateX(-35px);

}


}






.stars {


position:absolute;

inset:0;


background-image:

radial-gradient(white 2px,transparent 2px);


background-size:90px 90px;


opacity:.5;


}




.fog {


position:absolute;

inset:0;


background:

linear-gradient(

120deg,

transparent,

rgba(255,255,255,.2),

transparent

);


animation:

fogMove 12s infinite;


}




@keyframes fogMove {


from {

transform:translateX(-100%);

}


to {

transform:translateX(100%);

}


}




/* =====================
SHIP
===================== */


#lilyShip {


position:absolute;


width:500px;


max-width:70vw;


bottom:15%;


left:-600px;


animation:

shipEnter 5s forwards,

shipFloat 4s infinite 5s,

shipGlow 3s infinite;



}



@keyframes shipEnter {


from {

left:-600px;

}


to {

left:50%;

transform:translateX(-50%);

}


}




@keyframes shipFloat {


50% {

margin-bottom:20px;

}


}




@keyframes shipGlow {


50% {

filter:

drop-shadow(0 0 45px gold);

}


}

/* =====================
TEXT & BUTTONS
===================== */


.titleBox,
.harborMessage {


position:absolute;


top:15%;


width:100%;


text-align:center;


}



h1 {


font-family:"Pirata One";


font-size:90px;


text-shadow:

0 5px 20px black;


}



button {


margin-top:30px;


padding:15px 45px;


border-radius:50px;


border:3px solid #d9b45b;


background:

linear-gradient(#85551f,#351c08);


color:white;


font-family:"Pirata One";


font-size:28px;


cursor:pointer;


transition:.3s;


}



button:hover {


transform:scale(1.1);


box-shadow:

0 0 25px #ffd76b;


}







/* =====================
HARBOR OBJECTS
===================== */


.harborObject {


position:absolute;


font-size:70px;


cursor:pointer;


text-align:center;


filter:

drop-shadow(0 10px 10px black);


animation:

objectFloat 3s infinite;


transition:.3s;


z-index:20;


}



.harborObject span {


display:block;


font-family:"Pirata One";


font-size:28px;


color:#ffd76b;


text-shadow:

0 3px 8px black;


}



.harborObject:hover {


transform:

scale(1.25);


filter:

drop-shadow(0 0 25px gold);


}



@keyframes objectFloat {


50% {


transform:translateY(-10px);


}


}




.crate {


left:20%;

bottom:20%;


}



.wheel {


right:25%;

bottom:25%;


}



.mapClue {


left:50%;

bottom:35%;


}







/* =====================
CREW
===================== */


.crewTitle {


position:absolute;


top:5%;


width:100%;


text-align:center;


}



.crewTitle h1 {


font-size:75px;


}




.crewPortraits {


position:absolute;


bottom:25%;


width:100%;


display:flex;


justify-content:center;


gap:40px;


}




.crewPortrait {


text-align:center;


cursor:pointer;


transition:.4s;


}



.portraitFrame {


width:200px;

height:230px;


background:

linear-gradient(#5b3515,#241205);


border:

8px solid #d9b45b;


border-radius:15px;


padding:10px;


box-shadow:

0 15px 30px black;


}




.portraitFrame img {


width:100%;


height:100%;


object-fit:contain;


}




.crewPortrait h2 {


font-family:"Pirata One";


font-size:35px;


}



.crewPortrait:hover {


transform:

translateY(-20px)

scale(1.08);


}



.crewPortrait.selected {


transform:

translateY(-25px)

scale(1.12);


filter:

drop-shadow(0 0 25px gold);


}







/* =====================
DIALOGUE
===================== */


.dialogueBox {


position:absolute;


bottom:3%;


left:10%;


right:10%;


background:

rgba(0,0,0,.85);


border:

4px solid #d9b45b;


border-radius:20px;


padding:25px;


text-align:center;


}




.dialogueBox h2 {


font-family:"Pirata One";


font-size:42px;


color:#ffd76b;


}



.dialogueBox p {


font-size:26px;


}







/* =====================
ISLAND PUZZLES
===================== */


.puzzleButtons {

display:flex;

justify-content:center;

gap:15px;

flex-wrap:wrap;

margin-top:20px;

}



.puzzleButtons button {


margin-top:10px;


padding:12px 28px;


font-size:24px;


}



.puzzleResult {


margin-top:20px;


font-size:24px;


color:#ffd76b;


text-shadow:

0 3px 8px black;


}




.backToMapButton {


font-size:22px;


padding:10px 28px;


}







/* =====================
ISLAND STORY
===================== */


.islandStory {


position:absolute;


top:14%;


left:24%;


right:10%;


padding:30px;


background:

rgba(0,0,0,.62);


border:

4px solid #d9b45b;


border-radius:20px;


text-align:center;


box-shadow:

0 0 35px black;


}




.islandStory h1 {


font-size:62px;


color:#ffd76b;


}



.islandStory h2 {


font-family:"Pirata One";


font-size:38px;


color:#ffd76b;


margin-top:20px;


}



.islandStory p {


font-size:24px;


line-height:1.45;


margin-top:12px;


}

/* =====================
ENDING / TREASURE
===================== */


.endingBox {


position:absolute;


top:6%;


left:25%;


right:8%;


max-height:88vh;


overflow-y:auto;


padding:30px;


background:

rgba(0,0,0,.62);


border:

4px solid #d9b45b;


border-radius:20px;


text-align:center;


box-shadow:

0 0 35px black;


}




.endingBox h1 {


font-size:54px;


color:#ffd76b;


}




.endingBox h2 {


font-family:"Pirata One";


font-size:36px;


color:#ffd76b;


margin-top:20px;


}



.endingBox p {


font-size:22px;


line-height:1.45;


}







/* =====================
TREASURE SPARKLES
===================== */


#treasureScene::after {


content:"✨ ✨ ✨";


position:absolute;


top:20%;


left:50%;


font-size:60px;


animation:

sparkle 2s infinite;


}



@keyframes sparkle {


50% {


opacity:.3;


transform:scale(1.3);


}


}








/* =====================
ENDING BACKGROUNDS
===================== */


#treasureScene {


background:

linear-gradient(

rgba(0,0,0,.25),

rgba(0,0,0,.25)

),

url("assets/backgrounds/harbor.png");


background-size:cover;

background-position:center;

background-repeat:no-repeat;


}





#letterScene {


background:

linear-gradient(

rgba(0,0,0,.25),

rgba(0,0,0,.25)

),

url("assets/backgrounds/sky.png");


background-size:cover;

background-position:center;

background-repeat:no-repeat;


}








/* =====================
BIRTHDAY LETTER
===================== */


.birthdayEnvelopeBox {


background:

rgba(255,240,205,.92);


color:#2b1605;


border:

5px solid #d9b45b;


}




.birthdayEnvelopeBox h1 {


font-size:55px;


color:#7a2d10;


text-shadow:none;


}




.birthdayEnvelopeBox p {


color:#2b1605;


font-size:22px;


line-height:1.5;


}








/* =====================
MOBILE
===================== */


@media(max-width:700px){



h1 {

font-size:55px;

}



#questPanel {


width:220px;


font-size:16px;


}



#inventoryPanel {


width:220px;


}



.harborObject {


font-size:45px;


}



.harborObject span {


font-size:20px;


}



.crewPortraits {


gap:5px;


bottom:22%;


}



.portraitFrame {


width:80px;


height:120px;


}



.crewPortrait h2 {


font-size:22px;


}



.dialogueBox {


left:5%;


right:5%;


padding:15px;


}



.dialogueBox h2 {


font-size:30px;


}



.dialogueBox p {


font-size:18px;


}




.islandStory {


top:15%;


left:6%;


right:6%;


padding:20px;


}



.islandStory h1 {


font-size:42px;


}



.islandStory h2 {


font-size:30px;


}



.islandStory p {


font-size:18px;


}



.puzzleButtons button {


font-size:18px;


padding:9px 18px;


}



.endingBox {


top:5%;


left:6%;


right:6%;


padding:20px;


}



.endingBox h1 {


font-size:38px;


}



.endingBox h2 {


font-size:28px;


}



.endingBox p {


font-size:17px;


}



}

.mapTitle {
position:absolute;
top:10%;
width:100%;
text-align:center;
z-index:20;
}


.mapTitle h1 {
font-size:70px;
color:#ffd76b;
}


.islandButtons {

position:absolute;
top:55%;
width:100%;
display:flex;
justify-content:center;
gap:40px;
z-index:50;

}


.islandButtons button {

cursor:pointer;

}

.mapTitle,
.islandButtons {

position:absolute;

z-index:10;

}

.harborMessage {
    z-index: 30;
}
